/* Custom CSS for Streamlit app */

/* Make text area text darker */
textarea {
    color: black !important;
    font-weight: 500 !important;    
}

div[data-baseweb="textarea"] textarea {
    color: black !important;
    font-weight: 500 !important;
}



/* Additional styling for better readability */
.stTextArea {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 1px;
}

/* Make the app title more prominent */
h1 {
    color: #0066b2;
}

/* Style for the spinner */
.stSpinner {
    text-align: center;
}

/* Style for buttons */
button {
    background-color: #0066b2;
    color: white;
    border-radius: 5px;
}

/* Style for selectbox */
.stSelectbox {
    margin-bottom: 20px;
}